
@use '../../../../UtilitySass/all';


.popUp{
    max-width: 460px;
    padding: 15px;
    border-radius: 20px;
    background-color: all.$color_back4;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    position: absolute;
    top: 12%;     left: -100%;
    transition: all 1s;

    img{  border-radius: 10px; }
    .info{ flex: 1 1 0%; }

    .btn{ 
        flex: 0 0 80%;
        display: flex;
        justify-content: space-evenly;
        a{ @include all.stileBtn( all.$color_text, all.$color_back2, $margine: 0); }
    }

}

.newPosition{ left: 1%; }

