

<section>


    <!-- container -->
    <div>

        <div class="descrizione"> 
            <p> JUJUTSU KAISEN </p>
            <p> Ora disponibile su Pc e Console </p>
            <a routerLink="/products/item/13"> Acquista ora </a> 
        </div>

        <picture>

            <source srcset="/assets/images/hero/prod(340x454).webp" media="(max-width: 420px)" type="image/webp">
            <source srcset="/assets/images/hero/prod(340x454).jpg"  media="(max-width: 420px)" type="image/jpg">
 
            <source srcset="/assets/images/hero/prod(470x627).webp" media="(min-width: 421px) and (max-width: 1000px)" type="image/webp">
            <source srcset="/assets/images/hero/prod(470x627).jpg"  media="(min-width: 421px) and (max-width: 1000px)" type="image/jpg">

            <source srcset="/assets/images/hero/prod(500x667).webp" media="(min-width: 1001px)" type="image/webp">
            <source srcset="/assets/images/hero/prod(500x667).jpg"  media="(min-width: 1001px)" type="image/jpg">

            <img src="/assets/images/hero/prod(500x667).webp" alt="jujutsu kaisen game cover"/>
        </picture>

    </div>



</section>

