

<div class="container" *ngIf="prodotto != undefined">

    
    <div class="immagini"> 
        <picture>
            <source [srcset]='"/assets/images/prod/" + prodotto.id + "/350x350.webp"'  type="image/webp">
            <source [srcset]='"/assets/images/prod/" + prodotto.id + "/350x350.png"'   type="image/png">

            <img [src]='"/assets/images/prod/" + prodotto.id + "/350x350.webp"' [alt]='prodotto.name + "cover"'/>
        </picture>
    </div>

    <div class="titolo"> 
        <h3> {{prodotto.name}} </h3>
        <p>  {{prodotto.price | currency : "EUR"}} </p>
    </div>

    <form class="selezione" (ngSubmit)="addToCart()" [formGroup]="form">

        <mat-form-field>
            <mat-label>Versione</mat-label>
            <mat-select formControlName="version">
                <mat-option [value]="prodotto.category.name"> {{prodotto.category.name}} </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Piattaforma</mat-label>
            <mat-select formControlName="platform">
                <mat-option [value]="prodotto.platform.name"> {{prodotto.platform.name}}  </mat-option>
            </mat-select>
        </mat-form-field>

        <button type="submit"> Aggiungi al carrello  </button>  
        
    </form>

    <div class="descrizione">
        <h3>Descrizione    </h3>
        <p> {{ prodotto.descr1 }} </p> 
        <p> {{ prodotto.descr2 }} </p>             
    </div>
    

</div>

<app-slider [products]="arrProducts"> </app-slider>

<app-add-cart *ngIf="showPopUp" [prodotto]="prodotto"></app-add-cart>

